@page "/"

<div class="row">
    <div class="box-container-card">
        <div class="box-column-2">
            <div id="cardcontainer" class="box-card z-depth-0 border-a">
            </div>
        </div>
        <div class="box-column-8">
            <div class="box-column-row">
                <div class="box-card z-depth-0 border-a">
                    <div class="card-header grey-text">Panorama Geral<i class="material-icons left">view_module</i></div>
                    <div class="box-around">
                        <a class="box-cell-item-flex font-size-12 white">                            
                            <p id="_atendimentos" class="light-blue-text font-h5"></p>
                            <p class="grey-text">(atendimentos)</p>
                        </a>       
                        <a class="box-cell-item-flex font-size-12 white">
                            <p id="_servicos" class="light-green-text font-h5"></p>
                            <p class="grey-text">(serviços)</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-column-row">
                <div class="box-card z-depth-0 border-a">
                    <div class="card-header grey-text">Atendimentos<i class="material-icons left">timelapse</i></div>
                    <div class="box-around">                            
                        <div id="chart_cliente" class="card-chart"></div>                               
                    </div>
                </div>
                <div class="box-card z-depth-0 border-a">
                    <div class="card-header grey-text">Serviços<i class="material-icons left">construction</i></div>
                    <div class="box-around">                            
                        <div id="chart_services" class="card-chart"></div>                              
                    </div>
                </div>
                <div class="box-card z-depth-0 border-a">
                    <div class="card-header grey-text">Canal<i class="material-icons left">chat_bubble</i></div>
                    <div class="box-around">                            
                        <div id="piechart_canal_p" class="card-chart"></div>                              
                    </div>
                </div>
                <div class="box-card z-depth-0 border-a">
                    <div class="card-header grey-text">Canal Serviços<i class="material-icons left">workspaces</i></div>
                    <div class="box-around">                            
                        <div id="chart_canal" class="card-chart"></div>                              
                    </div>
                </div>
                <div class="box-card z-depth-0 border-a">
                    <div class="card-header grey-text">Setores<i class="material-icons left">location_on</i></div>
                    <div class="box-around">                            
                        <div id="piechart_setores_p" class="card-chart"></div>                              
                    </div>
                </div>
                <div class="box-card z-depth-0 border-a">
                    <div class="card-header grey-text">Setores Serviços<i class="material-icons left">workspaces</i></div>
                    <div class="box-around">                            
                        <div id="chart_setores" class="card-chart"></div>                              
                    </div>
                </div>
            </div>
            <div class="box-column-row">
                <div class="box-card z-depth-0 border-a">
                    <div class="card-header grey-text">Variação Mensal<i class="material-icons left">calendar_month</i></div>
                    <div class="box-around">                            
                        <div id="chart_month" class="card-chart-m"></div>                              
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
