@page
@using System.Globalization
@model Sim.UI.Web.Pages.BancoPovo.Edit.IndexModel
@{
    ViewData["Title"] = "Banco do Povo: Novo Contrato";
    ViewData["ActivePageBPP"] = Web.Pages.BancoPovo.NavPage.Novo;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">
    <section>
        <input asp-for="InputContrato.Id" />
        <div class="card">
            <div class="card-header grey-text">Cliente<i class="left material-icons">person</i></div>
            <div class="card-content no-padding">
                <div class="row">
                    @if (Model.InputContrato.Cliente == null)
                    {
                        <div class="input-field col s12 m6 l6 valign-wrapper">
                            <input asp-for="GetCPF" id="inputCPF" autofocus>
                            <label asp-for="GetCPF"></label>
                            <button asp-page-handler="PF" class="btn-small waves-effect waves-light blue" type="submit"><i class="material-icons">person add</i></button>
                        </div>
                    }
                    else
                    {
                        <div class="input-field col s12 m5 l2" hidden>                   
                            <input asp-for="InputContrato.Cliente.Id" />
                            <label asp-for="InputContrato.Cliente.Id"></label>
                        </div>
                        <div class="input-field col s12 m6 l3">                    
                            <input asp-for="InputContrato.Cliente.CPF" id="inputCPF" />
                            <label asp-for="InputContrato.Cliente.CPF"></label>
                        </div>
                        <div class="input-field col s12 m6 l3">                    
                            <input asp-for="InputContrato.Cliente.Nome" />
                            <label asp-for="InputContrato.Cliente.Nome"></label>
                        </div>
                        <div class="input-field col s12 m6 l3">                    
                            <input asp-for="InputContrato.Cliente.Email" />
                            <label asp-for="InputContrato.Cliente.Email"></label>
                        </div>
                        <div class="input-field col s12 m6 l3 valign-wrapper">                    
                            <input asp-for="InputContrato.Cliente.Tel_Movel" id="txtmobile" />
                            <label>Telefone</label>
                            <button class="btn-small red lighten-1 waves-effect waves-light" type="submit" asp-page-handler="RemovePF"><i class="material-icons">person remove</i></button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header grey-text">Empresa<i class="left material-icons">domain</i></div>
            <div class="card-content no-padding">
                <div class="row">
                    @if(Model.InputContrato.Cliente != null) {
                        @if (Model.InputContrato.Empresa == null) {           
                            <div class="input-field col s12 m6 l6 valign-wrapper">
                                <input asp-for="GetCNPJ" id="inputCNPJ">
                                <label asp-for="GetCNPJ" ></label>
                                <button asp-page-handler="PJ" class="btn-small waves-effect waves-light blue" type="submit"><i class="material-icons">domain add</i></button>
                            </div>            
                        } else {
                            <div class="col-md-2" hidden>
                                <label asp-for="InputContrato.Empresa.Id"></label>
                                <input asp-for="InputContrato.Empresa.Id" />
                            </div>
                            <div class="input-field col s12 m6 l3">
                                <input asp-for="InputContrato.Empresa.CNPJ" id="inputCNPJ" />
                                <label asp-for="InputContrato.Empresa.CNPJ"></label>                    
                            </div>
                            <div class="input-field col s12 m6 l3">
                                <input asp-for="InputContrato.Empresa.Nome_Empresarial" />
                                <label>Razão Social</label>                    
                            </div>
                            <div class="input-field col s12 m6 l3">
                                <input asp-for="InputContrato.Empresa.Email" />
                                <label asp-for="InputContrato.Empresa.Email"></label>                    
                            </div>
                            <div class="input-field col s12 m6 l3 valign-wrapper">
                                <input asp-for="InputContrato.Empresa.Telefone" id="txtphone"/>
                                <label asp-for="InputContrato.Empresa.Telefone"></label>                    
                                <button class="btn-small red lighten-1 waves-effect waves-light" type="submit" asp-page-handler="RemovePJ"><i class="material-icons">domain remove</i></button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="card">
            <div class="card-header grey-text">Contrato<i class="material-icons left">text_snippet</i></div>
            <div class="row mgn-0">
                <div class="input-field col s6 m6 l3">
                    <input asp-for="InputContrato.Numero" />
                    <label asp-for="InputContrato.Numero"></label>
                </div>
                <div class="input-field col s6 m6 l3">
                    <input asp-for="InputContrato.Data"/>
                    <label asp-for="InputContrato.Data"></label>
                </div> 
                <div class="input-field col s12 m12 l6">
                    <span class="prefix small">@NumberFormatInfo.CurrentInfo.CurrencySymbol</span>
                    <input asp-for="InputContrato.Valor" asp-format="{0:#,###.00}" onkeypress="return(moeda(this,'.',',',event))" />
                    <label asp-for="InputContrato.Valor" >Valor</label>
                </div>
                <div class="input-field col s12 m12 l6">
                    <textarea asp-for="InputContrato.Descricao" class="materialize-textarea" id="input_descricao"></textarea>
                    <label asp-for="InputContrato.Descricao"></label>
                </div>
                <div class="col s12 m6 l3 input-field">
                    <select asp-for="InputContrato.Situacao" asp-items="Model.ESituacoes">
                    </select>  
                    <label asp-for="InputContrato.Situacao" ></label>
                </div>
                <div class="col s12 m6 l3 input-field">
                    <input asp-for="InputContrato.DataSituacao"/>
                    <label asp-for="InputContrato.DataSituacao"></label>
                </div>                
                <div class="col s12 m6 l4 input-field">
                    <select asp-for="InputContrato.Pagamento" asp-items="Model.EPagamentos">
                    </select>  
                    <label asp-for="InputContrato.Pagamento"></label>
                </div>
                <div class="col s12 m6 l4 input-field">
                    <input asp-for="InputContrato.AppUser"/>
                    <label asp-for="InputContrato.AppUser"></label>
                </div>
                <div class="col s12 m6 l4 input-field">
                    <input asp-for="InputContrato.UltimaAlteracao"/>
                    <label asp-for="InputContrato.UltimaAlteracao"></label>
                </div>
            </div>
            <div class="card-action">
                <button id="onbtn" asp-page-handler="Save" class="btn waves-effect waves-light">Gravar</button>
                <a asp-page="/Banco-do-povo/Index" class="btn grey waves-effect waves-light">Voltar</a>
            </div>   
        </div>
    </section>
</form>


@section scripts {    
    @{/*await Html.RenderPartialAsync("_ValidationScriptsPartial");*/}
    <script src="~/js/jquery.validation.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/fcurrency.js"></script>
    <script>
        $('#inputCPF').mask('000.000.000-00');
        $('#txtphone').mask('(00) 0000-0000');
        $('#txtmobile').mask('(00) 00000-0000');
        $('#inputCNPJ').mask('00.000.000/0000-00');
    </script>
}