@using Sim.UI.Web.Areas.SimBI.Pages.Empresas
@model Sim.UI.Web.Areas.SimBI.Pages.Empresas.IndexModel


    <nav class="navbar row">
        <form class="nav-wrapper white" method="post">           
            <ul class="right valign-wrapper">
                <li class="pdn-h-4">
                    <select asp-for="Input.Modo" class="browser-default">
                        <option selected>Empresas</option>
                        <option>Atividades</option>
                    </select>
                </li>
                <li class="pdn-h-4">
                    <select id="municip" asp-for="Input.Municipio" class="browser-default" asp-items="@Model.ListaMunicipios"></select>
                </li>
                <li class="pdn-h-4">
                    <input type="number" asp-for="Input.Ano" />
                </li>
                <li class="waves-effect waves-light blue lighten-1">
                    <a id="submit"><i class="material-icons">autorenew</i></a>
                </li>
            </ul>
        </form>
    </nav>

