@page
@model Sim.UI.Web.Areas.SimBI.Pages.Empresas.MappingModel

@{
     Layout = "_Layout.cshtml";
    ViewData["Title"] = "Power BI";
    ViewData["BIActivePage"] = Sim.UI.Web.Areas.SimBI.Pages.Empresas.EmpNavPages.Mapa;
}

<partial name="_NavBar" model="@Model.MunicipioSelecionado" />
<partial name="_StatusMessage" model="Model.StatusMessage" />

<script type='text/javascript'>  
    var map;
    var lat;// = -22.2990589;
    var lgt;// = -48.5575769;
    function loadMapScenario() {  
        map = new Microsoft.Maps.Map(document.getElementById('myMap'), {  
            credentials: 'AlXdA1VRF-rK-z0FQtFy5cAcfQgSy2rF9EQRdIeIaMWFddCAOgF3CsdTULcdR7_9',  
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,  
            location: 'Jau-SP',
            zoom: 15  
        });  

        function addMarker(localizacao, titulo, descricao) {  
           
            var geocodeRequest = "http://dev.virtualearth.net/REST/v1/Locations?query=" + localizacao + "&jsonp=GeocodeCallback&key=AlXdA1VRF-rK-z0FQtFy5cAcfQgSy2rF9EQRdIeIaMWFddCAOgF3CsdTULcdR7_9"; 
            /*
            $.getJSON(`http://dev.virtualearth.net/REST/v1/Locations?query=${localizacao}&key=AlXdA1VRF-rK-z0FQtFy5cAcfQgSy2rF9EQRdIeIaMWFddCAOgF3CsdTULcdR7_9`, function(response) {
                var results = response.resourceSets[0].resources;
                lat = results[0].point.coordinates[0];
                lgt = results[0].point.coordinates[1];
            });
            */
            CallRestService(geocodeRequest, GeocodeCallback);

            var _location = new Microsoft.Maps.Location(lat, lgt);

            var marker = new Microsoft.Maps.Pushpin(_location, {
                color: 'green',
                title: titulo,
                subTitle: descricao
                }); 

            map.entities.push(marker); 
        }  

        @if (Model.LocationList != null)  
        {  
            foreach (var item in Model.LocationList)  
            {  
                @:addMarker('@item.Location', '@item.Title', '@item.Description');  
            }  
        }
    } 
    /* */
    function GeocodeCallback(response) {
        if (response &&
            response.resourceSets &&
            response.resourceSets.length > 0 &&
            response.resourceSets[0].resources) {
            var results = response.resourceSets[0].resources;
            
            lat = results[0].point.coordinates[0];
            lgt = results[0].point.coordinates[1];
        } 
    }
    function CallRestService(request) {
        var script = document.createElement("script");
        script.setAttribute("type", "text/javascript");
        script.setAttribute("src", request);
        document.body.appendChild(script);
    }
</script>  
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=release&setLang=pt-BR&callback=loadMapScenario' async defer></script>  

<div class="row">
    <div class="box-container-card">                    
        <div class="box-column-7">
            <div class="box-column-row">
                <div class="box-card">
                    <div class="card-header grey-text">Mapa<i class="material-icons left">map</i></div>
                    <div id="myMap" style="width: 100%; min-height:610px;"></div>
                </div>
            </div>
            <div class="box-column-row">
                <div class="box-card">
                    <div class="card-header grey-text">Panorama<i class="material-icons left">info</i></div>
                    
                </div>
                <div class="box-card">
                    <div class="card-header grey-text">Porte<i class="material-icons left">info</i></div>
                    
                </div>
                <div class="box-card">
                    <div class="card-header grey-text">Composição<i class="material-icons left">info</i></div>
                    
                </div>
            </div>
        </div>
        <div class="box-column-3">
            <div class="box-column-row">
                <div class="box-card">
                    <div class="card-header grey-text">Zonas<i class="material-icons left">location_on</i></div>
                    <div class="pdn-h-10">
                        <input id="id_mcp" asp-for="MunicipioSelecionado" hidden>
                        <select id="input_zona" asp-for="ZonaSelecionada" asp-items="Model.Zonas"></select>
                    </div>                
                </div>
            </div>
            <div class="box-column-row">
                <div class="box-card">
                    <div class="card-header grey-text">Logradouros<i class="material-icons left">expand_more</i></div>
                    <div id="idcellboxcontent" style="max-height: 500px; overflow: auto;">                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row font-size-12 mgn-t-10">
    Informações extraidas da base de dados da RFB em 10-10-2022
</div>

<!-- Modal Structure -->
<div id="viewmodal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="loadingpage"></div>
        <table class="striped" style="font-size:12px;">
        <thead>
          <tr>
              <th>#</th>
              <th>CNPJ</th>
              <th>Razão Social</th>
              <th>Tel</th>
              <th>Email</th>
              <th>Cnae</th>
          </tr>
        </thead>
        <tbody class="showcollection"></tbody>
      </table>
    </div>
    <div class="modal-footer">
        <a id="btn-export" href="" class="btn waves-effect waves-light green" title="Exportar"><i class="material-icons">description file_download</i></a>
        <a href="#!" class="modal-close btn waves-effect">Fechar</a>
    </div>
</div>

@section scripts{
    <script>        
        $(function () {

            document.querySelector('#input_zona').addEventListener("change", function() {
                var param0 = $("#input_zona").val(); 
                var param1 = $("#id_mcp").val(); 
                $("#idcellboxcontent").empty();
                $("#idcellboxcontent").append('<p class="mgn-l-10 grey-text">...carregando!</p>');
                $.getJSON(`/SimBI/Empresas/Mapping?bro=${param0}&mcp=${param1}&a=Ativa&handler=LAgrupados`, (data) => {
                    $("#idcellboxcontent").empty();
                    data.forEach(function(item) {                          
                        $("#idcellboxcontent").append(
                           `<a class="display-block font-size-12 mgn-l-10 pdn-10 grey-text item-trigger" href="#">                           
                                ${item.key}<strong class="light-green-text"> ${item.value} </strong>-Empresa                         
                            </a>
                            <div class="divider"></div>`
                        );
                    });
                });
                $.getJSON(`/SimBI/Empresas/Mapping?bro=${param0}&mcp=${param1}&a=Ativa&handler=Zona`, (data) => {
                    data.forEach(function(item) {
                        
                    });
                    
                });
            }); 
        });
    </script>
}