@page
@model Sim.UI.Web.Pages.Pat.Add.IndexModel
@{
    ViewData["Title"] = "Vagas";
    ViewData["ActivePagePat"] = Web.Pages.Pat.PatNav.Novo;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<partial name="_PatNav" />

<form method="post">
    <section>
        <div class="card">
            <div class="card-header grey-text">Empresa</div>                      
            <div id="div-add-cnpj" class="row no-padding mgn-b-0">                
                <div class="col s12 m6 l6 input-field valign-wrapper">
                    <input asp-for="Input.Empresa.CNPJ" id="inputCNPJ" />
                    <label>CNPJ</label>
                    <a id="addempresa" class="waves-effect waves-light btn"><i class="material-icons">add</i></a>
                </div>
            </div>            
            <input asp-for="Input.Empresa.Id" hidden/>     
            <div id="divbtn" hidden><a id="btnremove" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">remove</i></a></div>     
            <div style="overflow-x: auto;">
                <table id="tableview" class="striped" hidden>
                    <thead>
                        <tr>
                            <th>CNPJ</th>
                            <th>Razão Social</th>
                            <th>Tel</th>
                            <th>Email</th>
                            <th>Cnae</th>
                        </tr>
                    </thead>
                    <tbody class="showcollection"></tbody>
                </table>
            </div>
        </div>
    </section>
    <section>
        <div class="card">
            <div class="card-header grey-text">Informações</div>
            <div class="row">
                <div class="input-field col s12 m6 l3">
                    <input asp-for="Input.Ocupacao" />
                    <label asp-for="Input.Ocupacao"></label>
                </div>
                <div class="input-field col s6 m6 l3">                            
                    <select asp-for="Input.Experiencia">
                        <option>Sim</option>
                        <option>Não</option>
                        <option>Jovem Aprendiz</option>
                    </select>  
                    <label asp-for="Input.Experiencia"></label>  
                </div>
                <div class="input-field col s6 m6 l3">                            
                    <select asp-for="Input.Inclusiva">
                        <option selected>Normal</option>
                        <option>Deficiência Fisica</option>
                        <option>Deficiência Auditiva</option>
                        <option>Deficiência Visual</option>
                        <option>Deficiência Intelectual</option>
                        <option>Deficiência Múltipla</option>
                    </select>  
                    <label asp-for="Input.Inclusiva"></label>  
                    <input asp-for="InclusivasSelecionadas" hidden/>
                </div>
                
                <div class="input-field col s6 m6 l3">                            
                    <select asp-for="Input.Genero">
                        <option selected>Neutro</option>
                        <option>Feminino</option>
                        <option>Masculino</option>
                    </select>  
                    <label asp-for="Input.Genero"></label>  
                </div>
                
                <div class="input-field col s6 m2 l2">
                    <input asp-for="Input.Vagas" />
                    <label asp-for="Input.Vagas" ></label>
                </div>

                <div class="input-field col s6 m2 l2">
                    <i class="prefix" style="font-size:20px;">R$</i>
                    <input asp-for="Input.Salario" asp-format="{0:#,###.00}" onkeypress="return(moeda(this,'.',',',event))" />
                    <label asp-for="Input.Salario" ></label>
                </div>

                <div class="input-field col s6 m3 l3">
                    <select asp-for="Input.Pagamento">
                        <option>Mês</option>
                        <option>Quinzena</option>
                        <option>Semana</option>
                        <option>Dia</option>
                        <option>Hora</option>
                    </select>  
                    <label asp-for="Input.Pagamento" ></label>
                </div>

                <div class="input-field col s6 m3 l3">                            
                    <select asp-for="Input.Status">
                        <option>Ativo</option>
                        <option>Finalizado</option>
                        <option>Cancelado</option>
                    </select>
                    <label asp-for="Input.Status"></label> 
                </div>

                <div class="input-field col s6 m2 l2">
                    <input asp-for="Input.Data" />
                    <label asp-for="Input.Data" ></label>
                </div> 
            </div>
        </div>
    </section>
    <section>
        <div class="card">
            <div class="card-header grey-text">Serviços</div>
            <div class="row mgn-b-0">
                <input asp-for="InputAtendimento.ID" hidden/>                
                <div class="input-field col s12 m6 l6">
                    <select asp-for="InputAtendimento.InputSetor" asp-items="Model.Setores"></select>
                    <label>Setor</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <select asp-for="InputAtendimento.InputCanal" asp-items="Model.Canais"></select>
                    <label>Canal</label>
                </div>
                <div class="input-field col s12">
                    <select asp-for="InputAtendimento.InputServicos" asp-items="Model.Servicos" multiple>
                        <option selected>Empresas - Cadastro de Vagas</option>
                        <option selected>Informações sobre serviços da Secretaria</option>
                    </select>
                    <label>Serviços</label>
                </div>
                <div class="input-field col s12" hidden>
                    <textarea asp-for="InputAtendimento.Descricao" class="materialize-textarea"></textarea>
                    <label asp-for="InputAtendimento.Descricao"></label>
                </div>
                <div class="input-field col s12 m6 l6" hidden>
                    <input asp-for="InputAtendimento.ServicosSelecionados" />
                    <label>Serviços</label>
                </div>
            </div>
            <div class="card-action">
                <button id="onbtn" class="btn waves-effect waves-light">Gravar</button>
                <a asp-page="/Pat/Index" class="btn grey waves-effect waves-light">Voltar</a>
            </div>   
        </div>
    </section>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.validation.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/fcurrency.js"></script>
    <script>
        $('#inputCNPJ').mask('00.000.000/0000-00');
        $('#inputCNAE').mask('00.00-0-00');
        $(function() {
            $("#addempresa").click(function () {
                var p = document.getElementById("inputCNPJ").value;
                var p0 = p.replace('.','');
                var p1 = p0.replace('.','');
                var p2 = p1.replace('/','');
                var p3 = p2.replace('-','');
                $(".showcollection").empty();
                $(".loadingpage").append(`<div class="progress"><div class="indeterminate"></div></div>`);
                $.getJSON(`/Pat/Add?cnpj=${p3}&handler=AddEmpresa`, function (data) {
                    $(".loadingpage").empty();
                    $.each(data, function (i, item) {
                        if(data === null)
                        {
                            alert("CNPJ não encontrado!");
                        }
                        if(data)                                            
                        {
                            document.getElementById("div-add-cnpj").hidden = true;
                            document.getElementById("tableview").hidden = false;                            
                            document.getElementById("Input_Empresa_Id").value = item.id;
                            document.getElementById("divbtn").hidden = false;
                            
                            var v1 = item.cnpj;                        
                            var v2 = item.nome_Empresarial;
                            var v3 = item.telefone != null? item.telefone: "";
                            var v4 = item.email != null? item.email: "";
                            var v5 = item.atividade_Principal;
                            
                            $(".showcollection").append(                            
                                `<tr>                            
                                <td>${v1}</td>
                                <td>${v2}</td>
                                <td>${v3}</td>
                                <td>${v4}</td>
                                <td>${v5}</td>
                                </tr>`                        
                            );
                        }
                    });
                });
            });

            $("#btnremove").click(function () {
                document.getElementById("div-add-cnpj").hidden = false;
                document.getElementById("tableview").hidden = true;    
                document.getElementById("divbtn").hidden = true;                        
                document.getElementById("Input_Empresa_Id").empty();
            });

            $("#onbtn").click(function () {
                var selected_inclusivas = [];
                $("#Input_Inclusiva :selected").each(function () {
                    selected_inclusivas.push($(this).val());
                });
                document.getElementById("InclusivasSelecionadas").value = selected_inclusivas;         
                var selected_values = [];
                $("#InputAtendimento_InputServicos :selected").each(function () {
                    selected_values.push($(this).val());
                });
                document.getElementById("InputAtendimento_ServicosSelecionados").value = selected_values;
                var vagas = document.getElementById("Input_Vagas").value;
                var ocupacao = document.getElementById("Input_Ocupacao").value
                document.getElementById("InputAtendimento_Descricao").value = "Cadastro de " + vagas + " vagas para " + ocupacao;
                return true;
            });           
        });
    </script>
}
