@page
@model Sim.UI.Web.Pages.BancoPovo.Reports.IndexModel
@{
    ViewData["Title"] = "Banco do Povo: Reports";
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.BPPReports;   
}

<div>
    <form method="post">
        <div class="row">
            <div class="col input-field">
                <input type="dateOne" />
            </div>
            <div class="col input-field">
                <input type="dateTwo" />
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="box-container-card">
        <div class="box-column-row">
            <div class="box-card">
                <div class="card-header grey-text">Contratos Regulares</div>
                <div class="box-stretch mgn-10">
                    <div class="grey-text">
                        <i class="material-icons">file_upload</i><span class="font-h4 blue-text">00</span>
                    </div>
                    <div class="grey-text">
                        <i class="material-icons">file_download</i><span class="font-h4 red-text">00</span>
                    </div>
                </div>                            
                <div class="box-card-action font-size-12">
                    <div class="box-between">
                        <div class="grey-text box-middle">Periodo</div>

                            <div class="grey-text box-middle">00</div>
                        
                    </div>
                </div>
            </div>
            <div class="box-card">
                <div class="card-header grey-text">Contratos Inadimplente</div>
                <div class="box-stretch mgn-10">
                    <div class="grey-text">
                        <i class="material-icons">file_upload</i><span class="font-h4 blue-text">00</span>
                    </div>
                    <div class="grey-text">
                        <i class="material-icons">file_download</i><span class="font-h4 red-text">00</span>
                    </div>
                </div>                            
                <div class="box-card-action font-size-12">
                    <div class="box-between">
                        <div class="grey-text box-middle">Periodo</div>

                            <div class="grey-text box-middle">00</div>
                        
                    </div>
                </div>
            </div>
            <div class="box-card">
                <div class="card-header grey-text">Contratos Renegociados</div>
                <div class="box-stretch mgn-10">
                    <div class="grey-text">
                        <i class="material-icons">file_upload</i><span class="font-h4 blue-text">00</span>
                    </div>
                    <div class="grey-text">
                        <i class="material-icons">file_download</i><span class="font-h4 red-text">00</span>
                    </div>
                </div>                            
                <div class="box-card-action font-size-12">
                    <div class="box-between">
                        <div class="grey-text box-middle">Periodo</div>

                            <div class="grey-text box-middle">00</div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>