@page
@model Sim.UI.Web.Pages.Planner.IndexModel
@{

    ViewData["Title"] = "Planner";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

@{
    var d1 = Model.InicioSemana.Value.ToShortDateString();
    var d2 = Model.FimSemana.Value.ToShortDateString();
}

<form method="post">
    <div class="row valign-wrapper">
        <div class="col s2 m2 l2">
            <button type="submit" class="btn-small waves-effect waves-light">Gravar<i class="left material-icons">save</i></button>
        </div>
        <div class="col s9 m9 l9">
            <input asp-for="Input.Id" hidden />
            <input asp-for="Input.Owner_AppUser_Id" hidden />
            <input asp-for="Input.DataFinal" hidden />
            <input asp-for="Input.DataInicial" hidden />
            <span class="new badge darken-2 font-size-14" data-badge-caption="@d1 à @d2">Semana de</span>
        </div>
        <div class="col s1 m1 l1">
            <a class="white-text valign-wrapper right" asp-page="/Planner/Ajuda"><i class="material-icons">help</i></a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-content pdn-10">
                    <div class="input-field mgn-0">
                        <textarea asp-for="Input.Segunda" class="materialize-textarea mgn-0" style="height: 300px;"></textarea>
                        <label class="badge" asp-for="Input.Segunda"></label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-content pdn-10">
                    <div class="input-field mgn-0">
                        <textarea asp-for="Input.Terca" class="materialize-textarea mgn-0" style="height: 300px"></textarea>
                        <label asp-for="Input.Terca"></label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-content pdn-10">
                    <div class="input-field mgn-0">
                        <textarea asp-for="Input.Quarta" class="materialize-textarea mgn-0" style="height: 300px"></textarea>
                        <label asp-for="Input.Quarta"></label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-content pdn-10">
                    <div class="input-field mgn-0">
                        <textarea asp-for="Input.Quinta" class="materialize-textarea mgn-0" style="height: 300px"></textarea>
                        <label asp-for="Input.Quinta"></label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-content pdn-10">
                    <div class="input-field mgn-0">
                        <textarea asp-for="Input.Sexta" class="materialize-textarea mgn-0" style="height: 300px"></textarea>
                        <label asp-for="Input.Sexta"></label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col s12 m4 l2">
            <div class="card">
                <div class="card-content pdn-10">
                    <div class="input-field mgn-0">
                        <textarea asp-for="Input.Sabado" class="materialize-textarea mgn-0" style="height: 300px"></textarea>
                        <label asp-for="Input.Sabado"></label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card blue lighten-5">
                <div class="card-content pdn-10">
                    <div class="input-field mgn-0">
                        <textarea asp-for="Input.ProximaSemana" class="materialize-textarea mgn-0" style="height: 150px"></textarea>
                        <label asp-for="Input.ProximaSemana"></label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col s12 m4 l4">
            <div class="card pink lighten-5">
                <div class="card-content pdn-10">
                    <div class="input-field mgn-0">
                        <textarea asp-for="Input.Prioridades" class="materialize-textarea mgn-0" style="height: 150px"></textarea>
                        <label asp-for="Input.Prioridades"></label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col s12 m4 l4">
            <div class="card yellow lighten-5">
                <div class="card-content pdn-10">
                    <div class="input-field mgn-0">
                        <textarea asp-for="Input.Anotacao" class="materialize-textarea mgn-0" style="height: 150px"></textarea>
                        <label asp-for="Input.Anotacao"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

