@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
    ViewData["ActivePage"] = Web.Pages.Shared.LayoutNavPages.InicioSA;
     
}



<div class="row">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
