@using Sim.UI.Web.Pages.SebraeAqui

<nav class="navbar">
    <div class="nav-wrapper white">
      <ul class="right">
          <li class="@SebraeAquiNavPages.InicioNavClass(ViewContext)"><a asp-page="/SebraeAqui/Index" class="grey-text ">Não Lançados</a></li>
          <li class="@SebraeAquiNavPages.LancadosNavClass(ViewContext)"><a asp-page="/SebraeAqui/Rae/Lancados" class="grey-text">Lançados</a></li>
      </ul>
    </div>
</nav>


