@using Sim.UI.Web.Pages.SebraeAqui

<div class="nav-content card">
      <ul class="tabs">
          <li class="tab"><a href="#Rae1" class="grey-text @SebraeAquiNavPages.InicioNavClass(ViewContext)">Não Lançados</a></li>
          <li class="tab"><a href="#Rae2" class="grey-text @SebraeAquiNavPages.LancadosNavClass(ViewContext)">Lançados</a></li>
      </ul>
</div>

