@page
@model Sim.UI.Web.Areas.Settings.Pages.Common.Canal.IndexModel
@{
    Layout = "../_Layout.cshtml";
    ViewData["Title"] = "Index";
    ViewData["ActivePageSettings"] = SettingsNavPages.Canal;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div>
    <form method="post">

        <div class="col s12" hidden>
            <label asp-for="Input.Id"></label>
            <input asp-for="Input.Id" />
        </div>

        <div class="row rounded-b-2 white z-depth-1">
            <div class="input-field col s12 m4 l4">
                <select asp-for="Input.Secretaria.Id" asp-items="Model.Unidades"></select>
                <label asp-for="Input.Secretaria" ></label>
            </div>                
            <div class="input-field col s12 m4 l4">
                <select asp-for="Input.Setor.Id" asp-items="Model.Setores"></select>
                <label asp-for="Input.Setor" ></label>                        
            </div>    
            <div class="input-field col s12 m4 l4 valign-wrapper">
                <input asp-for="Input.Nome" />
                <label asp-for="Input.Nome" ></label>
                <button type="submit" asp-page-handler="Add" class="btn waves-effect waves-light"><i class="material-icons">add</i></button>
            </div>        
        </div>

        <div class="card">
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th>Canal</th>
                        <th>Setor</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Canais != null)
                    {
                        foreach (var item in Model.Canais)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Setor.Nome)
                                </td>

                                <td>
                                    <button asp-page-handler="Remove" val asp-route-id="@item.Id" class="btn materialize-red btn-small waves-effect waves-light"><i class="material-icons">remove</i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>
