@using Sim.UI.Web.Areas.SimBI.Pages.Atendimentos
@model Sim.UI.Web.Areas.SimBI.Pages.Atendimentos.IndexModel


    <nav class="navbar navbar-fixed">
        <form method="post" class="nav-wrapper white">
            <ul>
                <li><input asp-for="Ano" /></li>
                <li><button class="btn waves-effect waves-light submit"><i class="material-icons">refresh</i></button></li>
            </ul>
        </form>
    </nav>
