@page
@model Sim.UI.Web.Areas.SimBI.Pages.Atendimentos.IndexModel

@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Power BI";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">
    <nav class="row hoverable">
        <div class="row nav-wrapper">
            <div class="input-field col s6 m6 l6">
                <input id="search" placeholder="Digite aqui para pesquisar!" onkeypress="handle(event)" asp-for="Ano" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>      
        </div>
    </nav>
</form>
<div class="row">
    <div class="box-container-card">
        <div class="box-column-7">
            <div class="box-column-row">
                <div class="box-card hoverable">
                    <div class="card-header grey-text">Atendimentos<i class="material-icons left">timelapse</i></div>
                    <div class="box-around">                            
                        <div class="box-cell-item-flex font-size-12">
                            <p class="blue-text font-h4"><i class="material-icons">file_upload</i>@Model.Atendimentos.Value1</p>
                        </div>                                 
                    </div>
                </div>
                <div class="box-card hoverable">
                    <div class="card-header grey-text">Serviços<i class="material-icons left">construction</i></div>
                    <div class="box-around">                            
                        <div class="box-cell-item-flex font-size-12">
                            <p class="light-green-text font-h4"><i class="material-icons">star</i>@Model.Atendimentos.Value2</p>
                        </div>                                 
                    </div>
                </div>
            </div>
            <div class="box-column-row">
                <div class="box-card hoverable">
                    <div class="card-header grey-text">Clientes<i class="material-icons left">person factory</i></div>
                    <div class="box-around">                            
                        <div id="chart_cliente" class="card-chart"></div>                               
                    </div>
                </div>
                <div class="box-card hoverable">
                    <div class="card-header grey-text">Meses<i class="material-icons left">calendar</i></div>
                    <div class="box-around">                            
                        <div id="chart_cliente_l" class="card-chart"></div>                              
                    </div>
                </div>
            </div>
        </div>
        <div class="box-column-3">
            <div class="box-card hoverable">
                <div class="card-header grey-text">Serviços<i class="material-icons left">list</i></div>                            
                @if(Model.Servicos != null) {
                    foreach (var item in Model.Servicos) {
                        <div class="font-size-12 pdn-10 grey-text">
                            <p class="truncate"><strong class="light-green-text">@item.Value</strong> - @item.Label</p>
                        </div>
                        <div class="divider"></div>
                    }
                }                       
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript"> 
        
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(DoPieChart);
        
        function DoPieChart() {    
            var y = document.getElementById('search').value; 
            $.getJSON(`/SimBI/Atendimentos/?ano=${y}&handler=Clientes`, (data) => {
                var dataArray = [['Rotulo','Valor']];
                $.each(data, function (i, item) {
                    dataArray.push([item.label, item.value]); 
                });
                var data = google.visualization.arrayToDataTable(dataArray);  
                var options = {       
                    title:"Acumulado",
                    legend:'left',
                    animation: {
                        duration: 1000,
                        easing: 'out'
                    },
                    //legend: 'none',
                    pieHole:0.4                     
                };  
                var chart = new google.visualization.PieChart(document.getElementById('chart_cliente'));  
                chart.draw(data, options);
            });      
            $.getJSON(`/SimBI/Atendimentos/?ano=${y}&handler=ClientesMeses`, (data) => {
                var dataArray = [['Rotulo','Valor']];
                $.each(data, function (i, item) {
                    dataArray.push([item.label, item.value]); 
                });
                var data = google.visualization.arrayToDataTable(dataArray);  
                var options = {
                    title:"Ativos",  
                    legend:'left', 
                    animation: {
                        duration: 1000,
                        easing: 'out'
                    },
                    //legend: 'none',    
                    pieHole:0.4 
                };  
                var chart = new google.visualization.PieChart(document.getElementById('chart_genero'));  
                chart.draw(data, options);
            });
            $.getJSON(`/SimBI/Empregos/?ano=${y}&handler=Setores`, (data) => {
                var dataArray = [['Rotulo','Valor','Percent']];
                $.each(data, function (i, item) {
                    dataArray.push([item.label, item.value, item.percent]); 
                });
                var data = google.visualization.arrayToDataTable(dataArray);  
                var options = {
                    title:"Distribuição",
                    legend:'left',
                    animation: {
                        duration: 1000,
                        easing: 'out'
                    },
                    //legend: 'none',      
                    pieHole:0.4 
                };  
                var chart = new google.visualization.PieChart(document.getElementById('piechart_setores'));  
                chart.draw(data, options);
            });
            $.getJSON(`/SimBI/Empregos/?ano=${y}&handler=Anual`, (data) => {
                var dataArray = [['Rotulo','Valor']];
                $.each(data, function (i, item) {
                    dataArray.push([item.label, item.value]); 
                });
                var data = google.visualization.arrayToDataTable(dataArray);  
                var options = { 
                    title:"Variação mensal",
                    chartArea: {  
                        width: '90%'  
                    },
                    hAxis: {  
                        minValue: 0
                    },  
                    vAxis: {  
                        title: 'Vagas'  
                    },
                    animation: {
                        duration: 1000,
                        easing: 'out'
                    },
                    colors: ['#20b2aa'],
                    legend: { position: 'bottom' }
                };  
                var chart = new google.visualization.AreaChart(document.getElementById('chart_month'));  
                chart.draw(data, options);
            });     
        }  

    </script>     
}
