@page "/perfil/seguranca/senha/alterar/"
@model ChangePasswordModel
@{
    ViewData["Title"] = "Mudar senha";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />

<form id="change-password-form" method="post">
    <div class="card">
        <div class="card-header grey-text">
            @ViewData["Title"]<i class="left material-icons">key</i>
        </div>
        
        <div class="card-content">
            <div class="input-field">
                <input asp-for="Input.OldPassword" />
                <label asp-for="Input.OldPassword"></label>
            </div>
            <div class="input-field">
                <input asp-for="Input.NewPassword"/>
                <label asp-for="Input.NewPassword"></label>
            </div>
            <div class="input-field">
                <input asp-for="Input.ConfirmPassword"/>
                <label asp-for="Input.ConfirmPassword"></label>
            </div>            
        </div>
        <div class="card-action">
            <button type="submit" class="btn waves-effect waves-light">Atualizar senha</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}