@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Apagar Dados Pessoais";
    ViewData["ActivePageIdentityManager"] = ManageNavPages.PersonalData;
}

<form id="delete-user" method="post" class="col s12">
    <div class="card">    
        <div class="card-header grey-text">@ViewData["Title"]<i class="materia-icons"></i></div>
        <div class="card-content">    
            <div class="card-panel z-depth-0 materialize-red lighten-5 materialize-red-text text-accent-4" role="alert">
                <p>
                    <strong>A exclusão desses dados removerá permanentemente sua conta, e isso não pode ser recuperado.</strong>
                </p>
            </div>
            <div class="row">
                @if (Model.RequirePassword)
                {                
                    <div class="input-field col s6 m6 l6">
                        <input asp-for="Input.Password" id="floatingSenha" />
                        <label asp-for="Input.Password" for="floatingSenha"></label>
                    </div>
                }
            </div>
        </div>   
        <div class="card-action">
            <button class="btn materialize-red waves-effect waves-light" type="submit">Excluir dados e fechar minha conta</button>        
        </div>     
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}