@page "/perfil/"
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePageIdentityManager"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<form id="profile-form" method="post">
<div class="card">
    <div class="card-header grey-text">@ViewData["Title"]<i class="left material-icons">assignment_ind</i></div>
    <div class="card-content">
        <div class="row">
            <div class="input-field col s12 m7 l7">
                <input asp-for="UserName" disabled />
                <label asp-for="UserName"></label>
            </div>            
            <div class="input-field col s12 m6 l6">
                <input asp-for="Input.Name" />
                <label asp-for="Input.Name"></label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input asp-for="Input.LastName" />
                <label asp-for="Input.LastName"></label>
            </div>
            <div class="input-field col s12 m6 l6">
                <select asp-for="Input.Genero">
                    <option selected></option>
                    <option>Feminino</option>
                    <option>Masculino</option>
                </select>
                <label asp-for="Input.Genero"></label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input asp-for="Input.PhoneNumber" id="inputphone"/>
                <label asp-for="Input.PhoneNumber"></label>                
            </div>
        </div>
    </div>
    <div class="card-action">
        <button id="update-profile-button" type="submit" class="btn waves-effect waves-ligth">Gravar Alterações</button>
    </div>
</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/jquery.mask.min.js"></script> 
    <script>
        $('#inputphone').mask('(00) 00000-0000');
    </script>
}