@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
    ViewData["ActivePage"] = Web.Pages.Shared.LayoutNavPages.Inicio;
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.InicioBPP;    
}



<div>
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}