@using Sim.UI.Web.Pages.BancoPovo
@model ModelExpression

<div class="row">
    <nav class="transparent">
        <div class="nav-wrapper">
            <form method="post">        
                <div class="input-field col s6 m6 l6 no-padding">
                    <input id="search" asp-for="ModelExplorer.Model" type="search" placeholder="Digite aqui para pesquisar" autofocus required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                </div>
                <ul class="right">
                    <li class="@NavPage.InicioBPClass(ViewContext)"><a asp-page="/Banco-do-Povo/Index" title="Contratos em Aberto"><i class="material-icons orange-text">list</i></a></li>
                    <li class="@NavPage.ConsultaBPClass(ViewContext)"><a asp-page="/Banco-do-Povo/Index" asp-route-p="formalizados" title="Contratos Formalizados"><i class="material-icons amber-text">star</i></a></li> 
                    <li class="@NavPage.ConsultaBPClass(ViewContext)"><a asp-page="/Banco-do-Povo/Index" asp-route-p="inadimplentes" title="Contratos Inadimplentes"><i class="material-icons red-text">money_off</i></a></li> 
                    <li class="@NavPage.NovoBPClass(ViewContext)"><a asp-page="/Banco-do-Povo/Add/Index" title="Novo Contrato"><i class="material-icons blue-text">add</i></a></li>                      
                </ul>
            </form>            
        </div>
    </nav>
</div>