@page
@model Sim.UI.Web.Pages.BancoPovo.IndexModel
@{
    ViewData["Title"] = "Banco do Povo";
    ViewData["ActivePageBPP"] = Web.Pages.BancoPovo.NavPage.Inicio;
}
<partial name="_NavPage" model="Model.Search" />
<div class="card">
    <div class="card-header grey-text">Meus Contratos<i class="material-icons left">text_snippet</i></div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Processo</th>
                <th>Cliente</th>
                <th>Data</th>
                <th>Situação</th>
                <th>Valor</th>
                <th>CMD</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
    <div class="card-action">
        Lista de contratos iniciados para liberação de crédito
    </div>
</div>