@page
@model Sim.UI.Web.Pages.BancoPovo.IndexModel
@{
    ViewData["Title"] = "Banco do Povo";
    ViewData["ActivePageBPP"] = Web.Pages.BancoPovo.NavPage.Inicio;
}



<div class="card">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Processo</th>
                <th>Cliente</th>
                <th>Data</th>
                <th>Situação</th>
                <th>Valor</th>
                <th>CMD</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
    <div class="card-action">
        <a class="btn-small disabled"><i class="material-icons">chevron_left</i></a>
        <a class="btn-small disabled"><i class="material-icons">navigate_next</i></a>
    </div>
</div>