@using Sim.UI.Web.Areas.Settings.Pages.Common

<div class="row">
    <div class="card-header">
        <a onclick="voltar()" class="btn-small waves-effect waves-light grey" title="Voltar"><i class="material-icons">undo</i></a><span class="pdn-10">@ViewData["PageTitle"]</span>
    </div>
</div>



