@page
@model Sim.UI.Web.Areas.Settings.Pages.Common.EventosModel
@{
    Layout = "_Layout.cshtml";

    ViewData["Title"] = "Index";
    ViewData["ActivePageSettings"] = SettingsNavPages.Eventos;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div>
    <form method="post">
        <div class="col s12" hidden>
            <label asp-for="Input.Id" class="form-label"></label>
            <input asp-for="Input.Id" class="form-control" />
        </div>
        <div class="row rounded-default z-depth-1 white">

                    <div class="input-field col s12 m6 l6">
                        <input asp-for="Input.Nome" />
                        <label asp-for="Input.Nome"></label>
                    </div>

                    <div class="input-field col s12 m6 l6 valign-wrapper">
                        <select asp-for="Input.Tipo">
                            <option selected>Evento</option>
                        </select>
                        <label asp-for="Input.Tipo"></label>
                        <button type="submit" asp-page-handler="Add" class="btn waves-effect waves-light"><i class="material-icons">add</i></button>
                    </div>
           
        </div>
        <div class="card">
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>Tipo</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Input.Listar != null)
                    {
                        foreach (var item in Model.Input.Listar)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Owner)
                                </td>

                                <td>
                                    <button type="submit" asp-page-handler="Remove" asp-route-id="@item.Id" class="btn btn-small waves-effect waves-light materialize-red" title="Excluir item"><i class="material-icons">remove</i></button>

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </form>
</div>