@page
@model Sim.UI.Web.Areas.Settings.Pages.Common.ServicosModel
@{
    Layout = "_Layout.cshtml";

    ViewData["Title"] = "Index";
    ViewData["ActivePageSettings"] = SettingsNavPages.Servicos;
}
<!---->
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div>
    <form method="post">
        <div class="col s12" hidden>
            <label asp-for="Input.Id" class="form-label"></label>
            <input asp-for="Input.Id" class="form-control" />
        </div>

        <div class="row white z-depth-1 rounded-b-2">
            <div class="input-field col s12 m3 l3 valign-wrapper">
                <select id="inputsetor" asp-for="SetorSelecionado" asp-items="Model.Setores"></select>
                <label asp-for="Setores"></label>       
                <button type="submit" asp-page-handler="ServicosBySetor" class="btn waves-effect waves-light light-green"><i class="material-icons">filter_list</i></button>                                                         
            </div>
            <div class="input-field col s12 m5 l5">
                <select asp-for="ItemSelecionado" asp-items="Model.Secretarias"></select>
                <label asp-for="Secretarias"></label>
            </div>
            <div class="input-field col s12 m4 l4 valign-wrapper">
                <input asp-for="Input.Nome" />
                <label asp-for="Input.Nome"></label>
                <button type="submit" asp-page-handler="Add" class="btn waves-effect waves-light"><i class="material-icons">add</i></button>                    
            </div>
        </div>

        <div class="card">
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th>
                            Servico
                        </th>
                        <th>Setor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Input.Listar != null)
                    {
                        foreach (var item in Model.Input.Listar)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Setor.Nome)
                                </td>

                                <td>
                                    <button type="submit" asp-page-handler="Remove" asp-route-id="@item.Id" class="btn btn-small waves-effect waves-light materialize-red" title="Excluir item"><i class="material-icons">remove</i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>

@section scripts{
    <script>
        $(function(){
            document.querySelector('#inputsetor').addEventListener("change", function() {
                var getSetor = $("#inputsetor").val(); 
                alert(getSetor));
                $.getScript(`?id=${getSetor}&handler=ServicosBySetor`, alert(getSetor));
            });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.validation.js"></script>
}