@page
@model Sim.UI.Web.Areas.Settings.Pages.Common.SetoresModel
@{
    Layout = "_Layout.cshtml";

    ViewData["Title"] = "Index";
    ViewData["ActivePageSettings"] = SettingsNavPages.Setores;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div>
    <form method="post">
        <div class="col s12" hidden>
            <label asp-for="Input.Id" class="form-label"></label>
            <input asp-for="Input.Id" class="form-control" />
        </div>
        <div class="row white z-depth-1 rounded-default">

                    <div class="input-field col s12 m4 l4">
                        <input asp-for="Input.Nome" />
                        <label asp-for="Input.Nome"></label>
                    </div>

                    <div class="input-field col s12 m4 l4">
                        <select asp-for="ItemSelecionado" asp-items="Model.Secretarias"></select>
                        <label asp-for="Secretarias"></label>
                    </div>

                    <div class="input-field col s12 l4 m4">
                        <button type="submit" asp-page-handler="Add" class="btn waves-effect waves-light"><i class="material-icons">add</i></button>
                    </div>

        </div>
        <div class="card">
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th>
                            Setor
                        </th>
                        <th>Secretaria</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Input.Listar != null)
                    {
                        foreach (var item in Model.Input.Listar)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Secretaria.Nome)
                                </td>

                                <td>
                                    <button type="submit" asp-page-handler="Remove" asp-route-id="@item.Id" class="btn waves-effect waves-light materialize-red" title="Excluir item"><i class="material-icons">remove</i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>