@using Sim.UI.Web.Areas.Admin.Pages.Manager


    <nav class="row navbar">
        <div class="nav-wrapper">
            <ul class="right">
                <li class="@AdminNavPages.IndexNavClass(ViewContext)">
                    <a id="lusers" asp-page="./Index">Listar</a>
                </li>
                <li class="@AdminNavPages.RegisterNavClass(ViewContext)" hidden>
                    <a id="regs" asp-page="./Register"><i class="fas fa-user-plus"></i></a>
                </li>
                <li class="@AdminNavPages.RolesNavClass(ViewContext)">
                    <a id="roles" asp-page="./Roles">Apolices</a>
                </li>
                <li class="@AdminNavPages.ClaimsNavClass(ViewContext)" hidden>
                    <a id="claims" asp-page="./Claims">Papeis</a>
                </li>
                <li>
                    <form>
                        <a class="btn-small waves-effect waves-light blue" asp-area="Identity" asp-page="/Account/Register"><i class="material-icons">person_add</i>></a>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

