@page
@model Sim.UI.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Bem Vindos";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="center">    
    <p><img src="~/icons/sedempi_600p.svg" width="380px;"></p>
    <h6 class="grey-text text-lighten-4" style="font-size:10px;"><strong>SECRETARIA DE DESENVOLVIMENTO ECONÔMICO, EMPREENDEDORISMO E INOVAÇÃO</strong></h6>
</div>
<div>
    <ul>
        <li>Sim-Web 2.0</li>
        <li>Notas da versão</li>
    </ul>
</div>

