@page
@model Sim.UI.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Bem Vindos";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="center">    
    <img src="~/icons/sedempi_600p.svg" width="380px;">
    <h6 class="grey-text text-lighten-4 mgn-0 no-padding" style="font-size:10px;"><strong>SECRETARIA DE DESENVOLVIMENTO ECONÔMICO, EMPREENDEDORISMO E INOVAÇÃO</strong></h6>
</div>
<div>
    <br/>
    <h5>Notas sobre atualizações</h5>
    <h6>Seção Atendimento</h6>
    <ul>
        <li>- Foi removido o botão "ATIVO".</li>
        <li>- Foi foi adicionado o botão "NOVO".</li>
        <li>- Ao iniciar atendimento, o botão "NOVO" muda para "CONTINUAR".</li>
        <li>- Na tela de atendimento foi removido o botão para carregar os serviços, agora é automático.</li>
    </ul>
    <h6>Seção Agenda</h6>
    <ul>
        <li>- Foi alterado a barra de pesquisa, adicionando a possibilidade de pesquisar evento por nome e setor.</li>
        <li>- Foi adicionado botões superior que filtra em ativos (verde), finalizados(ambar) e cancelados(vermelho).</li>
        <li>- Agora os eventos aparecem ordenados por mês</li>
    </ul>
    <h6>Seção Agenda</h6>
    <ul>
        <li>- Foi alterado a barra de pesquisa, adicionando a possibilidade de pesquisar evento por nome e setor.</li>
        <li>- Foi adicionado botões superior que filtra em ativos (verde), finalizados(ambar) e cancelados(vermelho).</li>
        <li>- Agora os eventos aparecem ordenados por mês</li>
    </ul>
</div>

