@page
@model Sim.UI.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Bem Vindos";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="center">    
    <p class="mgn-b-0"><img src="~/icons/sedempi_600p.svg" width="380px;"></p>
    <h6 class="grey-text text-lighten-4" style="font-size:10px;"><strong>SECRETARIA DE DESENVOLVIMENTO ECONÔMICO, EMPREENDEDORISMO E INOVAÇÃO</strong></h6>
</div>
<div>
    <br/><h5>Sim.Update - Notas</h5>
    <br/><h6>Seçao Atendimento</h6>
    <ul style="font-size: 11px;">
        <li>- Foi removido o botão "ATIVO"</li>
        <li>- Foi foi adicionado o botão "NOVO"</li>
        <li>- Ao iniciar atendimento, o botão "NOVO" muda para "CONTINUAR"</li>
        <li>- Na tela de atendimento foi removido o botão para carregar os serviçõs, agora é automático</li>
    </ul>
</div>

