@page
@model Sim.UI.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Bem Vindos";
    ViewData["ActivePage"] = Web.Pages.Shared.LayoutNavPages.Inicio;
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.InicioHome;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="center">    
    <div class="row mgn-0">
        <div class="col s6 m6 l6 no-padding">
            <img class="right" src="~/css/imgs/sim_logo.png" width="100px">
        </div>
        <div class="col s6 m6 l6 alpha-w-text-5 no-padding">
            <stron class="left" style="margin-top: 69px;">Web v2.0</stron>
        </div>
    </div>     
    <h6 class="alpha-w-text-9 mgn-0 no-padding" style="font-size:10px;"><strong>SECRETARIA DE DESENVOLVIMENTO ECONÔMICO, EMPREENDEDORISMO E INOVAÇÃO</strong></h6>
</div>
<div class="font-size-12 alpha-text-6">
    <h5>Notas sobre atualizações</h5>
    <h6>Seção Sedempi</h6>
    <ul>
        <li>- Seção Setor foi unificada com a SEDEMPi.</li>
        <li>- Foi adicionado o botão "Inicio".</li>
    </ul>
    <hr />
    <h6>Seção Atendimento</h6>
    <ul>
        <li>- Foi removido o botão "ATIVO".</li>
        <li>- Foi foi adicionado o botão "NOVO".</li>
        <li>- Sempre que estiver com atendimento ativo, o botão "NOVO" muda para "CONTINUAR".</li>
        <li>- Na tela de atendimento foi removido o botão para carregar os serviços, agora é automático.</li>
    </ul>
    <hr />
    <h6>Seção Agenda</h6>
    <ul>
        <li>- Foi alterado a barra de pesquisa, adicionando a possibilidade de pesquisar evento por nome e setor.</li>
        <li>- Foi adicionado botões superior que filtra em ativos (verde), finalizados(ambar) e cancelados(vermelho).</li>
        <li>- Agora os eventos aparecem ordenados por mês</li>
    </ul>
    <hr />
    <h6>Seção BI</h6>
    <ul>
        <li>- O layout do BI de atendimento doi remodelado.</li>
    </ul>
    <hr />
    <h6>Seção Meu Perfil</h6>
    <ul>
        <li>- O "Nome do Usuário" foi removido do menu lateral e fixado na parte superior direita.</li>
    </ul>

</div>

