

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIM - @ViewData["Title"]</title>
</head>
<body class="has-fixed-sidenav">
    <header>
        <partial name="_LoginPartial" />
        <partial name="_SidebarNav" />        
    </header>
    <main>        
        <div class="progress" style="display: flex; position: fixed; margin-top: -4px; z-index:998; border-radius: 0px;"><div class="indeterminate"></div></div>
        <div class="teal lighten-2" style="display:flex;position:absolute;margin-top:0px;z-index:-20;height:100px;width:100vh;"></div>         
        <div class="container-m20">            
            @RenderBody()
        </div>        
    </main>
    <footer class="page-footer teal lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <img src="~/icons/sedempi-white-166p.svg" style="margin-top: 15px;" />                    
                    <p class="grey-text text-lighten-4">Secretaria de Desenvolvimento Econômico, Empreendedorimos e Inovação</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://jau.sp.gov.br/servidor" target="_blank">Servidores</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://pontodigital.jau.sp.gov.br/" target="_blank">Ponto Digital</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://jau.sp.gov.br/servicos-online" target="_blank">Serviços Online</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://jau.sp.gov.br/jornal-oficial" target="_blank">Jornal Oficial</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://leideacesso.etransparencia.com.br/jahu.prefeitura.sp" target="_blank">Transparencia Pública</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://leis.jau.sp.gov.br/" target="_blank">Legislação Municipal</a></li> 
                    </ul>
                </div>
            </div>
            </div>
            <div class="footer-copyright teal">
            <div class="container">
                &copy; @DateTime.Now.Year - Sim.Web
                <a class="grey-text text-lighten-4 right" href="http://www.jau.sp.gov.br">Prefeitura do Municipio de Jahu</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/lib/materialize/js/materialize.min.js"></script>
    
    <script>
        $(window).on('load', function () { 
            $(".progress").fadeOut("slow");  
        });  
    
        $(function () {
            $(".submit").click(function () {
                $(".progress").show(); 
                //document.forms[0].submit();                
                return true;
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
