@using Microsoft.AspNetCore.Identity
@using Sim.Identity.Entity
@using Sim.Application.Interfaces

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IAppServiceStatusAtendimento MeuStatus

@{
    var _lstatus = await MeuStatus.ListUserAsync(User.Identity.Name);
    var _status = _lstatus.FirstOrDefault().Online;
    var _idstatus = _lstatus.FirstOrDefault().Id;
}
<input id="meustatusonline" type="text" value="@_idstatus" hidden/>

<div class="navbar-fixed">
    <nav class="navbar z-depth-0">
        <div class="nav-wrapper white">
            <a href="#" data-target="sidenav-left" class="sidenav-trigger grey-text"><i class="material-icons">menu</i></a>
            <a class="navbar-page-name grey-text">@ViewData["Title"]</a>
            <ul class="right">                
                    @if(SignInManager.IsSignedIn(User))
                    {
                        var DisplayName = UserManager.Users.FirstOrDefault(m => m.UserName == User.Identity.Name).Name;
                        var DisplayLastName = UserManager.Users.FirstOrDefault(m => m.UserName == User.Identity.Name).LastName;
                        
                        var fn = DisplayName.FirstOrDefault();
                        var ln = DisplayLastName.FirstOrDefault();

                        var account_color = "";

                        @if (!_status)
                        { account_color = "grey"; }

                        <li class="dropdown-trigger" data-target="dropdownuser">
                            <a id="btnstatus" class="btn @account_color waves-effect waves-light" href="#" title="@DisplayName @DisplayLastName"><i class="material-icons left">account_circle</i>@fn@ln</a>
                        </li>
                        <li class="waves-effect waves-light">
                            <a asp-area="Identity" asp-page="/Account/Logout" class="grey-text"><i class="material-icons left">logout</i>Sair</a>
                        </li>
                    }
                    else
                    {
                        <li class="waves-effect waves-light">
                            <a class="grey-text waves-effect waves-light" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
                        </li>                        
                    } 
            </ul>
        </div>
    </nav>
</div>

<div id="dropdownuser" class="dropdown-content rounded-default row" style="z-index: 2;">
    <div class="center-align"><a class="btn" asp-area="Identity" asp-page="/Account/Manage/Index">Perfil</a></></div>
    <div class="divider"></div>
    <div class="center-align"><div class="switch" title="Alterar meu status"><label>Online<input id="chkstatus" checked="@_status" type="checkbox" onclick="myStatus()" /><span class="lever"></span></label></div></div>          
</div>

<script>
    function myStatus() {
        var st = document.querySelector('#chkstatus');
        var uid = document.querySelector('#meustatusonline').value;
        const btnstatus = document.querySelector('#btnstatus');
        btnstatus.classList.remove('grey');
        if (!st.checked) { $('#btnstatus').addClass('grey'); }        
        //alert(uid);
        var formData = { id: uid, val: st.checked };
        $.get('/Identity/OnlineStatus', { id: uid, val : st.checked }, 
        function(returnedData){
            //alert(returnedData);
        }).fail(function(){
            alert("Erro");
        });
    }
</script>

