@page "/naoautorizado/"
@model Sim.UI.Web.Pages.Shared.Access_deniedModel
@{
    ViewData["Title"] = "Acesso não Autorizado!";
}

<div class="pdn-10">
    <h1 class="red-text">Sua credencial de acesso não está habilitada para esse módulo.</h1>
    <h2 class="red-text">Contate o Administrador Global.</h2>
</div>