@page
@model Sim.UI.Web.Pages.Panorama.IndexModel;
@{
}

<div class="navbar navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <!--<a href="#" data-target="sidenav-left" class="sidenav-trigger grey-text"><i class="material-icons">menu</i></a>-->
            <a class="navbar-page-name grey-text">Equipes de Atendimento</a>
            <ul class="right">
                <li class="blue lighten-1 waves-effect waves-light"><a asp-area="" asp-page="./Index">Atualizar Pagina</a></li>
            </ul>
        </div>
    </nav>
</div>