@page
@model Sim.UI.Web.Pages.SebraeAqui.Reports.IndexModel
@{
    ViewData["Title"] = "Sebrae: Reports";
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.SAReports;
}

<div>
    <form method="post">
        <div class="row">
            <div class="col input-field">
                <input type="date" />
            </div>
            <div class="col input-field">
                <input type="date" />
            </div>
        </div>
    </form>
</div>