@page "/contas/acessonegado/"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso não Autorizado!";
}
<div class="pdn-10">
    <h5 class="red-text">Sua credencial de acesso não está habilitada para esse módulo.</h1>
    <h6 class="red-text">Contate o Administrador Global.</h2>
</div>

