@page
@model LockoutModel
@{
    Layout = "/Pages/Shared/__LayoutModal.cshtml";
    ViewData["Title"] = "Sim.Web v2.2";
}

<header class="center">
    <h5 class="red-text">@ViewData["Title"]</h5>
    <p class="orange-text">Esta conta está bloqueada!</p>
    <a asp-area="Identity" asp-page="./Login">Voltar</a>
</header>
