@page "/contas/bloqueada/"
@model LockoutModel
@{
    Layout = "/Pages/Shared/__LayoutModal.cshtml";
    ViewData["Title"] = "Sim.Web v2.2";
}
<div class="center teal lighten-5 pdn-10 mgn-b-20">    
    <div class="row mgn-0">
        <div class="col s6 m6 l6 no-padding">
            <img class="right" src="~/css/imgs/sim_logo.png" title="SIM" width="100px">
        </div>
        <div class="col s6 m6 l6 alpha-text-8 no-padding">
            <strong class="left"  style="margin-top: 69px;">App v2.2</strong>
        </div>
    </div>     
    <h6 class="alpha-text-8 mgn-0 no-padding" style="font-size:10px;"><strong>SECRETARIA DE DESENVOLVIMENTO ECONÔMICO, EMPREENDEDORISMO E INOVAÇÃO</strong></h6>
</div>
<header class="center">
    <p class="font-h5">Conta bloqueada!</p>
    <a asp-area="Identity" asp-page="./Login">Voltar</a>
</header>
