@page
@model LogoutModel
@{
    ViewData["Title"] = "Sair";
    ViewData["ActivePage"] = Sim.UI.Web.Pages.Shared.LayoutNavPages.Login;
    ViewData["ActivePageLi"] = Sim.UI.Web.Pages.Shared.LayoutNavPages.LoginOut;
}


<div class="box-card center pdn-10 rounded-4">
    @{if (User.Identity.IsAuthenticated)
        {
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <div class="row mgn-0">
                    <div class="col s6 m6 l6 no-padding">
                        <img class="right" src="~/css/imgs/sim_logo.png" width="100px">
                    </div>
                    <div class="col s6 m6 l6 alpha-text-6 no-padding">
                        <stron class="left" style="margin-top: 69px;">Web v2.2</stron>
                    </div>
                </div>     
                <h6 class="alpha-text-8 mgn-0 no-padding" style="font-size:10px;"><strong>SECRETARIA DE DESENVOLVIMENTO ECONÔMICO, EMPREENDEDORISMO E INOVAÇÃO</strong></h6>
                <br/>
                <button type="submit" class="btn btn-large red lighten-1 waves-effect">Sair do Sim.Web</button>
            </form>
        }
        else
        {
            <p>Você saiu do aplicativo com sucesso.</p>
        }
    }
</div>


